div.container
  div.col-md-4
    h3 Shubhu
    img.img-circle
    p Recommendations
    span.icon.icon-send India
    button.btn.btn-danger.btn-lg Edit My Profile
  div.col-md-8
    div.well
      h3 My Link
      p http://shubhu.in
      Share this link with your friends, on Facebook, on langage forums 
    div.panel
      div.panel-heading
        h3.panel-title My activities
      div.panel-body
        p You talked to yourself
        p You talked to a girl
