div#groupChat
  div.row.clearfix
    div.people-list.col-md-3#people-list
      div.search
        input(type="text", placeholder="search")
        i.glyphicon.glyphicon-search
      ul.list
        li.clearfix(ng-repeat="user in users")
          img.img-circle.avatar(ng-src="{{user.avatar}}")
          div.about
            div.name {{user.username}}
            div.status
              i.circle &#9679; &nbsp;
              {{user.since}}
      
    div.chat.col-md-9(ng-include="'partials/textChat.jade'")
