div.container
  div.col-md-3
    div.panel.panel-primary
      div.panel-heading Online
      div.panel-body
        ul(ng-repeat="user in users")
          li {{user.username}}
  div.col-md-9
    div.panel.panel-primary
      div.panel-body
        ul.chat-thread
          li(ng-class="{self: message.username == 'shubhu'}", ng-repeat="message in messages") {{message.text}}
      div.panel-footer
        form.chat-window
          input.chat-window-message(name="message", type="text")
          button.btn.btn-primary(type="submit") Send
p
  | Showing of 'interpolate' filter:
  | {{ 'Current version is v%VERSION%.' | interpolate }}
