div.row
  div.col-md-6
    div#streamsContainer
      div.panel.panel-primary#myPublisherContainer
        div.panel-heading Video here
        div.panel-body
          div.embed-responsive.embed-responsive-4by3
            div.embed-responsive-item#myPublisher
              div.videoLoading
        div.panel-footer
          ul.list-inline.text-right
            li#roomLinkButton: button.btn.btn-primary: span.glyphicon.glyphicon-link  Link
            li#chatButton: button.btn.btn-warning: span.glyphicon.glyphicon-comment  Chat
  div.col-md-6
    div.panel.panel-primary.chat
      div.panel-heading
        span.glyphicon.glyphicon-comment Chat
      div.panel-body
        ul.list-group
        each val in [1,2,3,4,5]
          li.list-group-item
            span.chat-img.pull-left
              img.img-circle(alt="User Avatar", src="public/img/silhouette.png")
            div.chat-body.clearfix
              div.header
                strong.primary-font
                  small.pull-right.text-muted
                    span.glyphicon.glyphicon-time
              p Lorem Ipsum sit amet
                span= val
      div.panel-footer
        div.input-group
          input#btn-group.form-control.input-sm(type="text", placeholder="Type here")
          span.input-group-btn
            button.btn.btn-warning.btn-sm#btn-chat Send
div(ng-include="'partials/textChat.jade'")