div.row
  div.col-md-12.streams
    div.row
      div.col-sm-6
        div.embed-responsive.embed-responsive-4by3.stream
          video.embed-responsive-item.stream#my(autoplay, poster="/public/img/loader.gif")
      div.col-sm-6
        div.embed-responsive.embed-responsive-4by3.stream
          video.embed-responsive-item.stream#my(autoplay, poster="/public/img/loader.gif")
  div.chat.col-md-12(ng-include="'partials/textChat.jade'")
