extends layout

block mainContent
  div.container
      ul.pages
        li.chat.page
          div.chatArea
            ul.messages
          input.inputMessage
        li.login.page
          div.form
            h3.title Nickname?
            input.usernameInput

      script(src="/public/js/main.js")
