extends layout

block mainContent
  div.container-fluid
    h1 The Chat Project

    ul.menu
      li: a(href='room') Room
      li: a(href='group') Group
        
    div(ng-view)
    div
      | The Chat Project app: v
      span(app-version)
    footer.footer
      div.container
        p.text-info Footer
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='public/js/app.js')
  script(src='public/js/controllers.js')
  script(src='public/js/directives.js')
  script(src='public/js/filters.js')
  script(src='public/js/services.js')
  script(src='public/js/socketService.js')