extends layout

block mainContent
  div.container
    h1 The Chat Project

    ul.menu
      li
        a(href='view1') View 1
      li
        a(href='view2') View 2
        
    div(ng-view)
    
    div
      | The Chat Project app: v
      span(app-version)
  footer.footer
    div.container
      p.text-info Footer
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='public/js/app.js')
    script(src='public/js/controllers.js')
    script(src='public/js/directives.js')
    script(src='public/js/filters.js')
    script(src='public/js/services.js')