extends layout

block mainContent
  center
    .login-header
      h1= title

    h1.elevator-pitch
      br
      br
      | Welcome to WebRTC Chat Roulette!
      br
      | Click on the Roulette button below or wait for a call.
