extends layout

style
    #remoteVideo video
        height: 150px

    #localVideo
        height: 150px


block mainContent
    div.container

        video#localVideo(style='height:150px;')
        div#remoteVideos()

        script.
            var socket = io();

        script(src="http://simplewebrtc.com/latest-v2.js")

        script(src="/public/js/p2p.js")
