/* app css stylesheet */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  background-color: #db186b;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* ChatRoom */
#chatroom {
  background: white;
  border: 3px solid #1ba3dd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  box-sizing: border-box;
}
#title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
}
#title, #title_content {
  position: relative;
  width: 100%;
  height: 100%;
}
#title, #title_content p {
  color: #eeeef2;
  text-align: center;
}
#title #title_content p a {
  color: #1ba3dd;
}
#title #title_content .titleText {
  width: 100%;
  min-height: 25px;
  text-align: center;
  color: white;
  font-family: monospace;
  font-weight: lighter;
  vertical-align: middle;
  line-height: 100%;
  padding-top: 5px;
  font-size: 25px;
}
#displayChat {
  padding: 5px;
  overflow: auto;
  background: #eee;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 40px;
}
#displayChat .chatEvent {
  text-align: center;
  color: #aaa;
}
#displayChat .chatMessage {
  margin: 10px 5px 5px 5px;
  font-size: 15px;
  word-wrap: break-word;
}
#displayChat .chatMessage:first-child {
  margin-top: 75px;
}
#displayChat li h4 {
  display: inline;
  font-size: 15px;
}
#chatInput {
  height: 40px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
#chatInput input {
  border: 1px solid #ddd;
  background: none;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  color: #444444;
  padding-left: 45px;
}
#chatInput input:focus {
  outline: none;
  box-shadow: 1px 1px 3px #999 inset;
}
#chatInput i {
  font-size: 30px;
  position: relative;
  left: 10px;
  top: -25px;
  float: left;
}
/* Using dev tools */
#streams_container {
  position: absolute;
  top: 0px;
  bottom: 42px;
  right: 400px;
  left: 0px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
#streams_container .streamContainer {
  display: inline-block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
#chattr{
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  right:-300px;
  z-index: 1;
  border: solid 1px #555;
  overflow: visible;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  -webkit-transition: all 0.5s; 
}
#chattr.chatEnabled{
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0px;
  z-index: 1;
  border: solid 1px #555;
  overflow: visible;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  -webkit-transition: all 0.5s; 
}
#relative_wrapper{
  width:100%;
  height:100%;
  position: relative;
}
#chattr .chat-header{
  position: relative;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #43879E;
}
#chattr .chat-header > div{
  position: absolute;
  left: 5px;
  top: 5px;
  height: 30px;
}
#chattr .chat-header > div span{
  width: 1px;
  border-left: solid 1px #fff;
  background-color: #000;
  margin-right: 4px;
  float: left;
  height: 100%;
  opacity: 0.2;
}
#chattr .chat-header h4{
  font-family: ;
  margin-left: 40px;
  line-height: 40px;
  font-size: 18px;
  color: white;
  font-family: "AvantGardeGothicITCW01X";
  font-weight: 200;
}
#chattr .inner-chat{
  position: absolute;
  left: 0;
  width: 100%;
  top: 40px;
  bottom: 50px;
  overflow: auto;
  background-color: #333;
  font-family: 'Muli', sans-serif;
}
#chattr .chat-input-wrapper{
  padding: 5px;
  background-color: #363636;
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
}
#chattr .chat-input-wrapper #chatInput{
  height: 40px;
  font-size: 16px;
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 0px;
  width: 100%;
  box-shadow: inset 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-sizing: border-box;
}
#chattr .inner-chat p#displayHelp{
  border-radius: 8px;
  padding: 8px 15px;
  max-width: 80%;
  position: relative;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  color: #ad967d;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  float: left;
  max-width: none;
}
#chattr .inner-chat ul#messages li{
  margin: 10px;
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
}
#chattr .inner-chat ul#messages li label{
  color: #888;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
#chattr .inner-chat ul#messages li.from-me label{
  text-align: right;
}
#chattr .inner-chat ul#messages li p{
  border-radius: 8px;
  padding: 8px 15px;
  max-width: 80%;
  position: relative;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  color: white;
  font-weight: 100;
}
#chattr .inner-chat ul#messages li.from-me p{
  background-color: #4f97af;
  float: right;
}
#chattr .inner-chat ul#messages li.from-others p{
  background-color: #555;
  float: left;
}
#chattr .inner-chat ul#messages li p:after{
  content: "";
  position: absolute;
  bottom: 100%;
  border-bottom: 6px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
#chattr .inner-chat ul#messages li.from-me p:after{
  right: 15px;
  border-bottom-color: #4f97af;
}
#chattr .inner-chat ul#messages li.from-others p:after{
  left: 15px;
  border-bottom-color: #555; 
}
#chattr .inner-chat ul#messages li.status p {
  color: #ad967d;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  float: left;
  max-width: none
}
#chattr .inner-chat ul#messages li.status p span{
  color: white;
}
#chattr .inner-chat ul#messages li.status p:after {
  border: none;
}
#chattr .inner-chat ul#messages li.status.help p, #chattr .inner-chat ul#messages li.status p.userList{
  margin-bottom: 0px;
}
#chattr .inner-chat ul#messages li.status.help p.last, #chattr .inner-chat ul#messages li.status p.userList.last{
  margin-bottom: 30px;
}
#remotePublisher {
  z-index: 20;
  background-color: chocolate; 
}
#myPublisher {
    border: 1px solid #808080;
    top: 65%;
    left: 65%;
    max-height: 30%;
    max-width: 30%;
    opacity: 1;
    position: absolute;
    transition: opacity 1s ease 0s;
    z-index: 30;
    background-color: #ccc;
}
.videoLoading {
  background: url("/public/img/loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  position: relative;
  top: 50%;
  left: 50%;
  height: 32px;
}
div.panel.panel-primary.chat div.panel-body {
  overflow-y: scroll;
  height: 370px;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}
.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}