main-color = #fa5b4d
background-color = #faf9f0

@import url(https://fonts.googleapis.com/css?family=Raleway);

$green = #86BB71
$blue = #94C2ED
$orange = #E38968
$gray = #92959E
$dark = #444753

.streams
  background $blue
  transition width 1s

.stream
  margin 1% 0
  transition width 1s
