@import url("https://fonts.googleapis.com/css?family=Raleway");
#app {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  border-radius: 3px;
  overflow: hidden;
  transform-origin: center;
  background-position: top left;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  box: shadow 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px 0 rgba(0,0,0,0.2);
}
.streams {
  background: #94c2ed;
  transition: width 1s;
  margin: 1% 0;
  transition: width 1s;
  background: #000;
  position: relative;
}
video {
  transform: rotateY(180deg);
  transition: all 2s;
}
video.loading {
  background: url("/public/img/loader.gif") no-repeat 50%;
}
#my {
  border: 1px solid #ccc;
  top: 65%;
  left: 65%;
  max-height: 30%;
  max-width: 30%;
  opacity: 1;
  position: absolute;
  background-color: #000;
}
