@import nib

main-color = #fa5b4d
background-color = #faf9f0

@import url(https://fonts.googleapis.com/css?family=Raleway);

$green = #86BB71
$blue = #94C2ED
$orange = #E38968
$gray = #92959E
$dark = #444753

body
  background #C5DDEB
  font 14px/20px "Raleway", Arial, sans-serif
  padding 55px 0
  color white
.container
  margin 0
  width 100%

#groupChat
  margin 0 auto
  border-radius 5px

.people-list
  background $dark
  border-top-left-radius 5px
  border-bottom-left-radius 5px

  .search
    padding 20px

  input
    border-radius 3px
    border none
    padding 14px
    color white
    background #6A6C75
    width 90%
    font-size 14px

  .glyphicon-search
    position relative
    left -25px

  ul
    padding 20px
    height 770px
    list-style-type none

    li
      padding-bottom 20px



  img
    float left

  .about
    float left
    margin-top 8px

  .about
    padding-left 8px


  .status
    color $gray

.chat
  background #F2F5F8
  border-top-right-radius 5px
  border-bottom-right-radius 5px
  color #434651

  .chat-header
    padding 10px
    border-bottom 2px solid white

    img
      float left
      height 45px
      width 45px


    .chat-about
      float left
      padding-left 10px
      margin-top 6px


    .chat-with
      font-weight bold
      font-size 16px


    .chat-num-messages
      color $gray


    .glyphicon-star
      float right
      color #D8DADF
      font-size 20px
      margin-top 12px

  .text
    border-left 3px solid #fff

  .text, .video
    padding 0

  .chat-history
    padding 30px 30px 20px
    border-bottom 2px solid white
    overflow-y scroll
    height 70vh

    ul
      list-style-type none
      padding-left 0
    .message-data
      margin-bottom 15px


    .message-data-time
      color lighten($gray, 8%)
      padding-left 6px


    .message
      color white
      padding 5px 10px
      line-height 26px
      font-size 14px
      border-radius 7px
      margin-bottom 10px
      width 90%
      position relative
      box-shadow 0 1px .5px rgba(0,0,0,.13)
      transition .2s cubic-bezier(.31,.34,.3,.99)

      &::after
        bottom 100%
        left 93%
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
        border-bottom-color $green
        border-width 10px
        margin-left -10px



    .my-message
      background $green
      float right


    .other-message
      background $blue

      &::after
        border-bottom-color $blue
        left 7%

  .chat-message
    padding 5px
    display flex

    textarea
      width 100%
      border none
      font 16px/30px "Raleway", Arial, sans-serif
      border-radius 5px
      resize none

    .glyphicon-file, .glyphicon-film
      font-size 16px
      color gray
      cursor pointer

    button
      color $blue
      font-size 16px
      border none
      cursor pointer
      font-weight bold
      background #F2F5F8
      margin-left 1px

      &:hover
        color darken($blue, 7%)





.online, .offline, .me
    margin-right 3px
    font-size 10px


.online
  color $green


.offline
  color $orange

.circle
  font-size 16px;
  color $blue

.me
  color $green

.align-left
  text-align left


.align-right
  text-align right


.float-right
  float right


.clearfixafter
	visibility hidden
	display block
	font-size 0
	content " "
	clear both
	height 0
