@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  background: #c5ddeb;
  font: 14px/20px "Raleway", Arial, sans-serif;
  padding: 55px 0;
  color: #fff;
}
html,
body {
  height: 100%;
  margin: 0;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#groupChat {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  background-position: top left;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box: shadow 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px 0 rgba(0,0,0,0.2);
}
.container {
  margin: 0;
  width: 100%;
}
#groupChat {
  margin: 0 auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.people-list {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  background: #444753;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: #fff;
  background: #6a6c75;
  width: 90%;
  font-size: 14px;
}
.people-list .glyphicon-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  list-style-type: none;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959e;
}
.chat {
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 10px;
  border-bottom: 2px solid #fff;
}
.chat .chat-header img {
  float: left;
  height: 45px;
  width: 45px;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959e;
}
.chat .chat-header .glyphicon-star {
  float: right;
  color: #d8dadf;
  font-size: 20px;
  margin-top: 12px;
}
.chat .text {
  border-left: 3px solid #fff;
}
.chat .text,
.chat .video {
  padding: 0;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid #fff;
  overflow-y: scroll;
  height: 70vh;
}
.chat .chat-history ul {
  list-style-type: none;
  padding-left: 0;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #9b9da6;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: #fff;
  padding: 5px 10px;
  line-height: 26px;
  font-size: 14px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 90%;
  position: relative;
  -webkit-box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
  box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
  -webkit-transition: 0.2s cubic-bezier(0.31, 0.34, 0.3, 0.99);
  -moz-transition: 0.2s cubic-bezier(0.31, 0.34, 0.3, 0.99);
  -o-transition: 0.2s cubic-bezier(0.31, 0.34, 0.3, 0.99);
  -ms-transition: 0.2s cubic-bezier(0.31, 0.34, 0.3, 0.99);
  transition: 0.2s cubic-bezier(0.31, 0.34, 0.3, 0.99);
}
.chat .chat-history .message::after {
  bottom: 100%;
  left: 93%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86bb71;
  float: right;
}
.chat .chat-history .other-message {
  background: #94c2ed;
}
.chat .chat-history .other-message::after {
  border-bottom-color: #94c2ed;
  left: 7%;
}
.chat .chat-message {
  padding: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  font: 16px/30px "Raleway", Arial, sans-serif;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .glyphicon-file,
.chat .chat-message .glyphicon-film {
  font-size: 16px;
  color: #808080;
  cursor: pointer;
}
.chat .chat-message button {
  color: #94c2ed;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f2f5f8;
  margin-left: 1px;
}
.chat .chat-message button:hover {
  color: #7db5e9;
}
.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}
.online {
  color: #86bb71;
}
.offline {
  color: #e38968;
}
.circle {
  font-size: 16px;
  color: #94c2ed;
}
.me {
  color: #86bb71;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.clearfixafter {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
